
@model List<Xc.Tonglian.Web.Models.Domain.Account>

<div class="pull-out m-t-small">
    @if (Model.Count > 0)
    {
        <table class="table table-striped b-t text-small table-bordered">
            <thead>
                <tr>
                    <th>客户号</th>
                    <th>账户号</th>
                    <th>币种</th>
                    <th>账户名</th>
                    <th>账户类型</th>
                    <th>账户地区</th>
                    <th>账户省份</th>
                    <th>账户城市</th>
                    <th>卡折类型</th>
                    <th>当地行号</th>
                    <th>地址</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.CusId</td>
                    <td>@item.AccountNo</td>
                    <td>@item.Currency</td>
                    <td>@item.AccountName</td>
                    <td>@item.Nature</td>
                    <td>@item.Country</td>
                    <td>@item.Province</td>
                    <td>@item.City</td>
                    <td>@item.CardorBook</td>
                    <td>@item.BicCode</td>
                    <td>@item.Addr</td>
                    @if (item.Status == 0)
                    {
                        <td>待审核</td>
                    }
                    @if (item.Status == 1)
                    {
                        <td>审核成功</td>
                    }
                    @if (item.Status == 2)
                    {
                        <td>审核失败</td>
                    }
                    <td>
                        <a title="修改" data-src="/Account/Edit?Id=@item.Id" class="btn btn-success btn-mini">修改</a>
                        <a onclick="Delete(@item.Id)" class="btn btn-danger btn-mini">删除</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-warning alert-block none-alert">
            <h4><i class="icon-bell-alt"></i>暂无数据!</h4>
        </div>
    }
</div>

<script type="text/javascript">
    var Delete = function (id) {
        $.confirm("您确定要删除吗？", function () {
             $.ajax({
                type: "GET",
                 url: "@Url.Action("Delete", "Account")?Id=" + id,
                success: function (data) {
                    if (data) {
                        $.tipsOk("操作成功!");
                         setTimeout(function () {
                                window.location.reload();
                            }, 1000);
                    }
                    else {
                        $.tipsError("删除失败!");
                    }
                },
                error: function (error) {
                }
            });
        })
    };
</script>


